/****--------------------------------****/
/**** Style CSS de la page d'accueil ****/
/****--------------------------------****/

/***----- Section 1 "Boisson énergisante" avec image canette et plante -----***/
.conteneur-image-plante-left {
    transform: translate(53.5%, 5%);
}

.conteneur-image-plante-right {
    transform: translate(-57%, 5%);
}

/***----- Section 2 "L'énergie des plantes" avec titre et paragraphe -----***/
.accueil-section-2 p {
    margin-top: 4px;
}

/***----- Section 3 "Les goûts" avec image des goûts -----***/
.accueil-section-3 h2 {
    margin: 0;
}

.accueil-section-3 p {
    margin-top: -15px;
}

/* Colonnes d'images *//* encadrée centré */
.first-colonne-section-3 {
    max-width: 817px;
    gap: 30px;
    margin-top: 7px;
}

.seconde-colonne-section-3 {
    max-width: 817px;
    gap: 30px;
    margin-top: 20px;
}

/*  on enlève l'effet de transition des images pour obtenir un titre en superposition sans effet */
.wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
    transition: none;
    transform: none;
}

/***----- Section 4 "Ce qu'ils en pensent" -----***/
/* contenu et nom des commentaires */

.name-comment {
    font-size: 30px;
    margin: 0;
}

.content-comment {
    font-size: 16px;
    margin: 0;
}

/*----------------------*/
/*** MEDIA RESPONSIVE ***/
/*----------------------*/

/**----- Section 2 "l'énergie des plantes -----**/
@media screen and (max-width: 480px) {
    .accueil-section-2 h3 {
    margin: 0px;
}
}

/**----- Section 3 "Les goûts" avec image des goûts -----**/
/* Colonnes d'images *//* encadrée centré */
@media screen and (max-width: 480px) {
    .first-colonne-section-3 {
    max-width: 80%;
    gap: 20px;
    margin-top: 7px;
    }   
    .seconde-colonne-section-3 {
        max-width: 80%;
        gap: 20px;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 420px) {
    .uagb-block-b4080ed1.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading,
    .uagb-block-a888b87a.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading,
    .uagb-block-2cb383ac.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading,
    .uagb-block-4662af85.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
        font-size: 3rem;
    }
}

/**----- Section 4 "Ce qu'ils en pensent" -----**/
/* contenu et nom des commentaires */
@media only screen and (max-width:480px) {
    .name-comment {
    font-size: 26px;
    margin: 0;
    }

    .content-comment {
    font-size: 14px;
    margin: 0;
    }
}

/* banniere de la section 4 */
@media only screen and (max-width: 480px) {
    .wp-block-uagb-container.uagb-block-9e56b6ed {
        margin-top: 0px !important;
    }
}

    



